version: '2.2'

services:
  zookeeper:
    image: zookeeper
    container_name: zookeeper
    restart: unless-stopped
    volumes:
      - ./data/zookeeper:/data
      - ./zoo.cfg:/conf/zoo.cfg:ro
    ports:
      - 2181:2181


  nimbus:
    image: storm
    container_name: nimbus
    command: storm nimbus
    depends_on:
      - zookeeper
    restart: unless-stopped
    volumes:
      - ./data/nimbus:/data
      - ./topologies:/topologies
      - ../applogs/nimbus:/logs
      - ./storm.yaml:/conf/storm.yaml
    ports:
      - 6627:6627
      - 8000:8000

  supervisor:
    image: storm
    #container_name: supervisor
    command: 
      - /bin/bash
      - -c
      - |
        storm supervisor
    depends_on:
      - zookeeper
      - nimbus
    volumes:
      - ./supervisor.yaml:/conf/storm.yaml
      - ./data/supervisor:/data
      - ../applogs/supervisor:/logs
    restart: unless-stopped

  stormui:
    image: storm
    container_name: stormui
    command: storm ui
    depends_on:
      - nimbus
      - supervisor
    volumes:
      - ../applogs/stormui:/logs
    ports:
      - 8001:8080
    restart: unless-stopped

volumes:
  zookeeper_data:

